<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/rvt.png">
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Home</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <main>
        <h1>About page</h1>
        <p>
            Project author: Robert Potjomkin DP3-3 course RVT (Rīgas Valsts Tehnikums).
            Mērķis: Tīmekļa vietnes skeleta izstrāde ar HTML
        </p>
    </main>
</body>
</html>