<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/rvt.png">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav>
            <a href="about.html">About</a>
            <a href="index.html">Home</a>
            <a href="cards.html">Cards</a>
        </nav>
    </header>
    <main>
        <h1>Contact page</h1>
        <p>You can contact me using this email: "rp00549@rvt.lv".</p>
        <img src="../static/rvt.png" alt="RVT logo" width="300">
    </main>
    <aside>
        <p>Robert Potjomkin DP3-3</p>
    </aside>
    <footer>
        <p>2024 RVT</p>
    </footer>
</body>
</html>