<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="../../static/css/errors.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/rvt.ico">
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Oops! The page you are looking for cannot be found.</p>
        <a class="home-button" href="/">Go Back Home</a>
        <p>If you believe this is an error, please <a href="../contact.html" class="contact-link">contact us</a>.</p>
    </div>
</body>
</html>
