<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="../../static/css/errors.css">
    <link rel="icon" type="image/x-icon" href="../../static/images/rvt.ico">
</head>
<body>
    <div class="container">
        <h1>500</h1>
        <p>Sorry! Something went wrong on our end.</p>
        <a class="home-button" href="../index.html">Go Back Home</a>
        <p>If this issue persists, please <a href="../contact.html" class="contact-link">contact us</a> and let us know.</p>
    </div>
</body>
</html>
